.counter-container #number {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.counter-button {
    background-color: blueviolet;
    padding: 20px;

    border-radius: 5px;
    border-color: black;
}