.graph {
    width: 40vw;
    margin: auto;
}

.team-stats>h1 {
    text-align: center;
    color: rgb(211, 216, 204);
}

.team-stats>p {
    text-align: left;
    color: #ccc;
    padding-left: 40vw;
}

.centered {
    text-align: center;
}

.select {
    width: 8em;
    font-size: 1em;
    padding: 0%;
    margin: auto
}

@media only screen and (max-width: 800px) {
    .graph {
        width: 95vw;
        margin: auto;
    }
    
    .team-stats>p {
        text-align: left;
        color: #ccc;
        padding-left: 10vw;
    }
}