.centered {
    text-align: center;
}

.select {
    width: 12em;
    font-size: 1em;
    padding: 0%;
    margin: auto
}

.stats-menu-input {
    margin: auto;
    text-align: left;
    font-size: xx-large;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
    padding-right: 1em;
}

.stats-menu-input-field {
    padding-top: 3%;
    border-width: 3px;
    border-style: none;
    color: rgb(177, 166, 179);
    size: 10%;
    padding-bottom: 5px;
}

.stats-menu-input-field input {
    height: 20px; 
    /* width: 220px;  */
    /* width: 60px; */
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(231, 231, 231, 0.4);
    color: rgb(0, 0, 0);
}



.team-button {
    margin: auto;
    text-align: center;
    padding-top: 3%;
}

.team-button>button  {
	
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;	   
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;	
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 700;	
    padding: 19px 39px 18px;
    font-size: 18px;
    background-color: #ad6caf;
    border-color: #916392;
    width: 20%;
}
.team-button>button:hover, .team-button>button:focus, .team-button>button:active {
    background-color: #905592;
    border-color: #705070; 
}

@media only screen and (max-width: 600px) {
    .stats-menu-input {
        font-size: x-large;
    }
    .team-button>button  {
        width: 90%;
    }
    .team-button {
        padding-top: 7%;
    }
    .stats-menu-input-field {
        padding-top: 20%;
    }
} 
