.graph {
    width: 40vw;
    margin: auto;
}

.team-stats-page>h1 {
    text-align: center;
    color: rgb(211, 216, 204);
}

.team-stats-page>p {
    text-align: left;
    padding-left: 30%;
    color: #ccc;
}

@media only screen and (max-width: 800px) {
    .graph {
        width: 95vw;
        margin: auto;
    }
    
    .team-stats-page>p {
        text-align: left;
        color: #ccc;
        padding-left: 4%;
    }
}